.about{
    width: 100%;
    margin-top: 17px;
    
}
.about-head{
    text-align: center;

}
.about-head p{
    margin-bottom: 16px;
}
.about-head h1{
    margin-top: 26px;
}
.leftdata{
    float: left;
    width: 50px;
}

.leftdata img{
    margin-left: 434px;
    width: 507px;
    border: 1px solid black;
border-radius: 47px;

}
 .leftdata img{
    width: 510px;
}
.rightdata{
    float: right;
    width: 50%;
}
 .rightdata p{
    font-size: 19px;
    font-family: "Poppins Regular";
    color: #212529;
    margin: 0px 0px 0px 28px;
    display: inline;
    line-height: 40px;
}
.rightdata ul{
    margin-top: 91px;
}
.rightdata li{
    color:#1976d2;
    line-height: 37px;
    font-size: 22px;
}
/* .aboutData p{

} */
.aboutData li{
    font-size: 19px;
line-height: 46px;
text-align: left;
}