.header{
  background-color: #1976d2;
  width: 100%;
  overflow: hidden;
}
.top-sec{
    float: left;
    width: 100%;
    margin-top: 102px;
}
.left{
    float: left;
    width: 70%;
}
 .right{
    float: right;
    width: 30%;
}
.right img{
    width: 288px;
margin: 0 -18px -7px 130px;
}
.left h2{
    font-size: 39px;
    margin-left: -521px;  }
  .left span{
    color: #ff5823;
  }
.left p{
 font-size: 21px;
}