.project-detail{
    width: 100%;
    margin-top: 65px;
    background-color: #1976d2;
    /* height: 472px;
    height: auto;
    margin-bottom: 10px; */
}
 /* .cards{
    margin: 0px 0px 0px 106px;
}  */
 /* hr{
    width: 100px;
    width: 216px;
height: 3px;
color: black;
background: black;
margin-bottom: 33px;
}*/
h2{
    text-align: center;
    margin-bottom: 21px;
} 